*.DS_Store
code/server/coverage/
code/server/node_modules/
code/client/node_modules/
code/server/test.http
code/server/database/EZWH_test.sqlite
code/server/mochawesome-report/mochawesome.html
code/server/mochawesome-report/mochawesome.json
code/server/mochawesome-report/assets/app.css
code/server/mochawesome-report/assets/app.js
code/server/mochawesome-report/assets/app.js.LICENSE.txt
code/server/mochawesome-report/assets/MaterialIcons-Regular.woff
code/server/mochawesome-report/assets/MaterialIcons-Regular.woff2
code/server/mochawesome-report/assets/roboto-light-webfont.woff
code/server/mochawesome-report/assets/roboto-light-webfont.woff2
code/server/mochawesome-report/assets/roboto-medium-webfont.woff
code/server/mochawesome-report/assets/roboto-medium-webfont.woff2
code/server/mochawesome-report/assets/roboto-regular-webfont.woff
code/server/mochawesome-report/assets/roboto-regular-webfont.woff2
